@media (max-width: 1320px) {
  .header__inner {
    justify-content: space-between;
  }

  .nav {
    margin-right: 0;
  }

  .logo__link {
    margin-right: 0;
  }

  .contacts__block:nth-child(2) {
    display: none;
  }

  /* MAIN__SECTION */
  .main__section {
    overflow: hidden;
  }

  .white__ball {
    width: 150px;
  }

  .blue__ball {
    width: 80px;
  }

  .blue__ball-small {
    display: none;
  }

  /* OUR__SERVICES */
  .our__services-cards {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }

  .our__services-top {
    gap: 30px;
  }

}

@media (max-width: 1115px) {
  .contacts__block:nth-child(1) {
    display: none;
  }

  .logo__link svg {
    width: 220px;
  }

  /* MAIN__SECTION */
  .main__section-inner {
    flex-direction: column;
    gap: 50px;
  }

  .main__section-title {
    width: 100%;
  }
}

@media (max-width: 880px) {

  /* BURGER */
  .burger__menu {
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 30px;
    gap: 8px 0;
    background-color: #4386FF;
    border-radius: 5px;
    padding: 10px;
  }

  .burger__line {
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
  }

  .burger__line:nth-child(1),
  .burger__line:nth-child(3) {
    transition: .7s;
  }

  .burger__menu.active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 8px);
  }

  .burger__menu.active .burger__line:nth-child(2) {
    display: none;

  }

  .burger__menu.active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(0px, 2px);
  }

  .nav {
    /* position: relative; */
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 20px;
    visibility: hidden;
  }

  .vis__submenu {
    visibility: visible;
    left: 0;
    top: 105px;
    width: 100%;
  }

  /* MAIN__SECTION */
  .main__section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .main__section-list {
    width: 100%;
  }

  .main__section-btn {
    flex-direction: column;
    align-items: center;
  }

  /* OUR__SERVICES */
  .our__services-cards {
    grid-template-columns: repeat(1, 400px);
  }

  .our__services-top {
    flex-direction: column;
  }

  .our__services-text {
    text-align: center;
  }

  /*  */
  .dev__stages-cards {
    justify-content: center;
    gap: 36px;
  }
}

@media (max-width: 600px) {

  /* HEADER */
  .logo__link svg {
    width: 190px;
  }

  .main__section-item {
    font-size: 16px;
  }

  /* OUR__SERVICES */
  .our__services-cards {
    grid-template-columns: repeat(1, 100%);
  }

  .our__services-text {
    text-align: center;
  }

  .our__services-top {
    gap: 17px;
    margin-bottom: 23px;
  }

  .our__services-title {
    font-size: 32px;
  }

  .our__services-cards {
    gap: 10px;
  }

  /*  */
  .dev__stages-title {
    font-size: 32px;
    margin-bottom: 66px;
  }

  .dev__stages-btn {
    height: 73px;
  } 
}