/* HEADER */
.header {
  padding: 20px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 51px;
}

.nav {
  margin-right: 50px;
}

.menu {
  display: flex;
  gap: 32px;
  padding-left: 0;
}

.menu__item {}

.menu__link {
  font-size: 16px;
  line-height: 148.6%;
  color: #000;
}

.active__link {
  color: #4386FF;
}

.contacts__blocks {
  display: flex;
  gap: 22px;
}

.contacts__block {}

.contacts__block:nth-child(2) {
  display: flex;
  gap: 11px;
}

.contacts__block-tel {
  font-family: "Averta-SemiBold";
  display: block;
  font-size: 20px;
  line-height: 148.6%;
  color: #4386FF;
}

.contacts__block-mail {
  color: rgba(0, 0, 0, 0.41);
  font-size: 16px;
  line-height: 148.6%;
}

.contacts__block-soc__net {
  background: #4386FF;
  height: 48px;
  width: 48px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.contacts__block-soc__net:hover {
  opacity: .8;
}

.burger__menu {
  display: none;
}


/* MAIN__SECTION */
.main__section {
  position: relative;
  background-color: #3980FF;
  border-radius: 20px;
  z-index: 10;
  padding: 50px 0;
}

.main__section-inner {
  display: flex;
  align-items: center;
}

.main__section-title {
  font-family: "Averta-SemiBold";
  font-size: 55px;
  line-height: 103.1%;
  color: #fff;
  width: 641px;
  margin-bottom: 40px;
}

.main__section-list {
  width: 485px;
  margin-bottom: 40px;
}

.main__section-item {
  color: #fff;
  font-size: 18px;
  line-height: 148.6%;
  position: relative;
  padding-left: 50px;
  margin-bottom: 40px;
}

.main__section-item:nth-child(1)::before {
  content: '';
  background-image: url(../images/icons/rocket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 5px;
}

.main__section-item:nth-child(2)::before {
  content: '';
  background-image: url(../images/icons/cup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 5px;
}

.main__section-btn {
  display: flex;
  gap: 26px;
}

.btn {
  font-family: "Averta-SemiBold";
  color: #fff;
  width: 268px;
  height: 73px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}


.btn__red {
  background-color: #EB5757;
}

.btn__blue {
  background-color: #0C4AB3;
}

.btn__red:hover,
.btn__blue:hover {
  opacity: .9;
}

.contacts__burger {
  display: none;
}

.develop__icon {
  position: absolute;
  left: 0;
  z-index: -1;
}

.main__section-left--block {
  position: relative;
}

.white__ball {
  position: absolute;
  bottom: -100px;
  right: 0;
}

.blue__ball {
  position: absolute;
  left: 0;
  top: 30%;
}

.blue__ball-small {
  position: absolute;
  top: 120px;
  right: 20px;
}

/* OUR__SERVICES */
.our__services {
  padding: 90px 0 120px 0;
  background: #FEF4FF;
}

.our__services-inner {}

.our__services-top {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 65px;
}

.our__services-title {
  font-family: "Averta-Bold";
  font-size: 55px;
  font-weight: 600;
  line-height: 103.1%;
}

.our__services-text {
  font-family: "Averta-Regular";
  max-width: 424px;
}

.our__services-cards {
  display: grid;
  grid-template-columns: repeat(3, 410px);
  gap: 30px;
}

.our__services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  padding: 38px 0;
}

.our__services-card-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 27px;
  max-width: 264px;
  margin-bottom: 23px;
}

.our__services-card--icon {}

.our__services-card--title {
  text-align: center;
}

.our__services-card--list {
  display: flex;
  gap: 15px;

}

.our__services-card--item {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 54px;
}

/* DEV__STAGES */
.dev__stages {
  padding: 60px 0;
  border-radius: 20px;
  background: #3980FF;

}

.dev__stages-inner {}

.dev__stages-title {
  font-family: "Averta-SemiBold";
  font-size: 55px;
  font-weight: 600;
  line-height: 103.1%;
  text-align: center;
  color: #fff;
  margin-bottom: 88px;
}

.dev__stages-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 52px;
}

.dev__stages-card {
  max-width: 300px;
  color: #fff;
}

.dev__stages-card--bg-container {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  height: 130px;
  width: 100%;
  margin-bottom: 25px;
}

.dev__stages-card--about {}

.dev__stages-card--about-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.dev__stages-card--about-num {
  font-family: "Averta-SemiBold";
  background-color: #0C4AB3;
  padding: 3px 13px;
  border-radius: 50%;
  font-size: 20px;
}

.dev__stages-card--about-name {}

.dev__stages-card--about-text {}

.dev__stages-btn {
  font-family: "Averta-SemiBold";
  color: #fff;
  width: 300px;
  height: 130px;
  font-size: 17px;
  font-weight: 600;
  line-height: 148.6%;
  border-radius: 15px;
  background: #EB5757;
  cursor: pointer;
  transition: .5s;
}

.dev__stages-btn:hover {
  opacity: .85;
}