@font-face {
  font-family: "Averta-Bold";
  src: url(../fonts/Averta/Averta\ Cyrillic\ Bold.otf);
}

@font-face {
  font-family: "Averta-SemiBold";
  src: url(../fonts/Averta/Averta\ Cyrillic\ SemiBold.otf);
}

@font-face {
  font-family: "Averta-Regular";
  src: url(../fonts/Averta/Averta\ Cyrillic\ Regular.otf);
}

@font-face {
  font-family: "Averta-Light";
  src: url(../fonts/Averta/Averta\ Cyrillic\ Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  /* 
  font-family: "Averta-Bold";
  font-family: "Averta-Light";
  font-family: "Averta-SemiBold"; 
  */
  font-family: "Averta-Regular";
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper__container {
  max-width: 1733px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}